
h1{
  @apply font-mono font-semibold uppercase
   lg:text-h1-lg md:text-h1-md text-h1-sm
}



h2{
  @apply font-mono font-semibold uppercase
   lg:text-h2-lg md:text-h2-md text-h2-sm
}

h3{
  @apply font-mono font-semibold uppercase
     lg:text-h3-lg md:text-h3-md text-h3-sm
}

h4{
  @apply font-mono font-semibold uppercase
     lg:text-h4-lg md:text-h4-md text-h4-sm
}

h5{
    @apply font-sans font-light
   lg:text-h5-lg md:text-h5-md text-h5-sm tracking-wider
}

h6{
  @apply font-light
  lg:text-h5-lg md:text-h5-md text-h5-sm tracking-wider
}

p{
    @apply font-sans font-light
     lg:text-p-lg md:text-p-md text-p-sm tracking-widest
}



.underline-direction{
  position: relative;
  //margin: 3px;
  &:hover,
  &:focus,
  &:active {
    /* cursor: pointer;*/
    &:after {
      width: 100%;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 0; bottom: -3px;
    height: 1px;
    background-color: #000;
    width: 0;
    transition: width .5s;
  }
}

