/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');*/


/*@font-face {*/
/*    font-family: "abchanel-corpo";*/
/*    src: url("/assets/styles/fonts/ab-corpo/ABChanelCorpoRegular.woff2") format("woff2"),*/
/*    url("/assets/styles/fonts/ab-corpo/ABChanelCorpoRegular.woff") format("woff");*/
/*    font-weight: 700;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
  font-family: "abchanel-corpo";
  font-display: swap;
  src: url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-l.woff2") format("woff2"), url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-d.woff") format("woff"), url("https://fonts.chanel.com/k/4557ee3c5c7e229667c02c3e802771f4feae8659-a.otf") format("opentype");
  font-style: normal;
  font-weight: 600
}

@font-face {
    font-family: "abchanel-corpo";
    font-display: swap;
    src: url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-d.woff") format("woff"),url("https://fonts.chanel.com/k/29d2ee826a834270fc144dccbb2359ae46f53c3b-a.otf") format("opentype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: "abchanel-corpo";
    font-display: swap;
    src: url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-d.woff") format("woff"),url("https://fonts.chanel.com/k/64b14ed9188172fd562480b882a998c1cb8e8eb2-a.otf") format("opentype");
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: "abchanel-corpo";
    font-display: swap;
    src: url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-l.woff2") format("woff2"),url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-d.woff") format("woff"),url("https://fonts.chanel.com/k/1b32c8a567ffef9b4919d90a39670b0f25b146bc-a.otf") format("opentype");
    font-style: normal;
    font-weight: 200
}




